.header {
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
  background-image: url('https://natureconservancy-h.assetsadobe.com/is/image/content/dam/tnc/nature/en/photos/DSC_1934.jpg?crop=125%2C0%2C3667%2C2017&wid=2000&hei=1100&scl=1.8336363636363637');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.header > h1 {
  font-size: 7rem;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
