.header {
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
  background-image: url('https://rare-gallery.com/thumbs/349036-4k-wallpaper.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.header > h1 {
  font-size: 7rem;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.search {
  font-size: 3rem;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.input {
  width: 20rem;
  font-family: 'Lato', sans-serif;
  height: 2rem;
  border: none;
  font-size: 2rem;
}
